.change
{
  background-image: url(https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  
  height: 500px;
}

.navbar {
  opacity: 95%;
}

body {
  padding-top: 56px;
  font-family: 'Roboto', sans-serif;
}

header{
  font-family: 'Roboto', sans-serif;
}

footer p {
  color: lightgray;
}